/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 sept 2023, 12:15:09
    Author     : Katerine  Forero
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url('Imagen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenido {
    text-align: center;
    padding: 50px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Esto centrará horizontalmente el contenido */
}
